<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjy.mapper.CreditcardMapper">
  <resultMap id="BaseResultMap" type="com.yjy.entity.Creditcard">
    <id column="ID" jdbcType="VARCHAR" property="id"/>
    <result column="BILL_DATE" jdbcType="INTEGER" property="billDate" />
    <result column="SPACE_DATE" jdbcType="INTEGER" property="spaceDate" />
    <result column="CARD_ID" jdbcType="VARCHAR" property="cardId" />
    <result column="CARD_NAME" jdbcType="VARCHAR" property="cardName" />
    <result column="CREDIT_LIMIT_ID" jdbcType="VARCHAR" property="creditLimitId" />
  </resultMap>
 
 <resultMap  id="creditAndLimit" type="com.yjy.entity.Creditcard">
 	 <id column="ID" jdbcType="VARCHAR" property="id"/>
    <result column="BILL_DATE" jdbcType="INTEGER" property="billDate" />
    <result column="FIX_DATE" jdbcType="INTEGER" property="fixDate" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="SPACE_DATE" jdbcType="INTEGER" property="spaceDate" />
    <result column="CARD_ID" jdbcType="VARCHAR" property="cardId" />
    <result column="CARD_NAME" jdbcType="VARCHAR" property="cardName" />
    <result column="CREDIT_LIMIT_ID" jdbcType="VARCHAR" property="creditLimitId" />
    <association property="creditLimit" javaType="com.yjy.entity.CreditLimit">
    	 <result column="LID" jdbcType="VARCHAR" property="id" />
	    <result column="AVAILABLE_CREDIT" jdbcType="DECIMAL" property="availableCredit" />
	    <result column="LIMIT_CREDIT" jdbcType="DECIMAL" property="limitCredit" />
	    <result column="TEMPORARY_CREDIT" jdbcType="DECIMAL" property="temporaryCredit" />
	    <result column="CREDIT_REMARK" jdbcType="VARCHAR" property="creditRemark" />
    </association>
 </resultMap>
 
 <select id="findAll" resultMap="creditAndLimit">
 	SELECT c.*,l.*,l.id lid FROM  t_creditcard c
 	 LEFT JOIN t_credit_limit  l on c.CREDIT_LIMIT_ID=l.id 
 </select>
 
 <select id="findLimitId" resultType="string">
 	select c.CREDIT_LIMIT_ID from t_creditcard c where c.id=  #{id,jdbcType=VARCHAR}
 </select>
 
 <update id="updateRemark" >
 	update t_creditcard c set c.remark=#{remark,jdbcType=VARCHAR} where  c.id=  #{id,jdbcType=VARCHAR}
 </update>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
  <sql id="Base_Column_List">
    ID, BILL_DATE, SPACE_DATE, CARD_ID, CARD_NAME, CREDIT_LIMIT_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_creditcard
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_creditcard
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yjy.entity.Creditcard">
    insert into t_creditcard (ID, BILL_DATE, SPACE_DATE, 
      CARD_ID, CARD_NAME, CREDIT_LIMIT_ID
      )
    values (#{id,jdbcType=VARCHAR}, #{billDate,jdbcType=INTEGER}, #{spaceDate,jdbcType=INTEGER}, 
      #{cardId,jdbcType=VARCHAR}, #{cardName,jdbcType=VARCHAR}, #{creditLimitId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yjy.entity.Creditcard">
    insert into t_creditcard
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="billDate != null">
        BILL_DATE,
      </if>
      <if test="spaceDate != null">
        SPACE_DATE,
      </if>
      <if test="cardId != null">
        CARD_ID,
      </if>
      <if test="cardName != null">
        CARD_NAME,
      </if>
      <if test="creditLimitId != null">
        CREDIT_LIMIT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="billDate != null">
        #{billDate,jdbcType=INTEGER},
      </if>
      <if test="spaceDate != null">
        #{spaceDate,jdbcType=INTEGER},
      </if>
      <if test="cardId != null">
        #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="cardName != null">
        #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="creditLimitId != null">
        #{creditLimitId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yjy.entity.Creditcard">
    update t_creditcard
    <set>
      <if test="billDate != null">
        BILL_DATE = #{billDate,jdbcType=INTEGER},
      </if>
      <if test="spaceDate != null">
        SPACE_DATE = #{spaceDate,jdbcType=INTEGER},
      </if>
      <if test="cardId != null">
        CARD_ID = #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="cardName != null">
        CARD_NAME = #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="creditLimitId != null">
        CREDIT_LIMIT_ID = #{creditLimitId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yjy.entity.Creditcard">
    update t_creditcard
    set BILL_DATE = #{billDate,jdbcType=INTEGER},
      SPACE_DATE = #{spaceDate,jdbcType=INTEGER},
      CARD_ID = #{cardId,jdbcType=VARCHAR},
      CARD_NAME = #{cardName,jdbcType=VARCHAR},
      CREDIT_LIMIT_ID = #{creditLimitId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>